<form class="{{cssClass}} {{actor.type}} sheet-contents row" autocomplete="off">

  <section class="grid-twelfth action-list">
      <div class="action-number">30</div>
      <div class="action-number">29</div>
      <div class="action-number">28</div>
      <div class="action-number">27</div>
      <div class="action-number">26</div>
      <div class="action-number">25</div>
      <div class="action-number">24</div>
      <div class="action-number">23</div>
      <div class="action-number">22</div>
      <div class="action-number">21</div>
      <div class="action-number">20</div>
      <div class="action-number">19</div>
      <div class="action-number">18</div>
      <div class="action-number">17</div>
      <div class="action-number">16</div>
      <div class="action-number">15</div>
      <div class="action-number">14</div>
      <div class="action-number">13</div>
      <div class="action-number">12</div>
      <div class="action-number">11</div>
      <div class="action-number">10</div>
      <div class="action-number">9</div>
      <div class="action-number">8</div>
      <div class="action-number">7</div>
      <div class="action-number">6</div>
      <div class="action-number">5</div>
      <div class="action-number">4</div>
      <div class="action-number">3</div>
      <div class="action-number">2</div>
      <div class="action-number">1</div>
      <div class="action-number">0</div>
  </section>

  {{!-- Sheet Header --}}
  <section class="sheet-header grid-eleven-twelfths">
      
      <div class="header-fields">
        <div class="top-section grid top-section-grid">
        <div class="portrait-section">
          <img class="profile" id="actor-profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
          <h2 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h2>
        </div>
          <div class="char-info">
            <div class="char-stats-container">
              <div class="notes-container">
                <h2 >Notes</h2>
              </div>
              <div class="heavy-wounds-container">
                  <h3 for="system.wounds.hwValue" class="resource-label">Resolve</h3>
                    <div class="resource heavy-wounds">
                      <h3><input class="hp-input" type="text" name="system.wounds.hwValue" value="{{system.wounds.hwValue}}" data-dtype="Number"/></h3>
                      <span> / </span>
                      <h3><input class="hp-input" type="text" name="system.wounds.hwMax" value="{{system.wounds.hwMax}}" data-dtype="Number"/></h3>
                    </div>
              </div>
              <div class="light-wounds-container">
                <h3 for="system.wounds.mwValue" class="resource-label">Wounds</h3>
                  <div class="resource light-wounds">
                    <h3><input class="hp-input" type="text" name="system.wounds.mwValue" value="{{system.wounds.mwValue}}" data-dtype="Number"/></h3>
                    <span> / </span>
                    <h3><input class="hp-input" type="text" name="system.wounds.mwMax" value="{{system.wounds.mwMax}}" data-dtype="Number"/></h3>
                  </div>
              </div>
              <div class="wealth-container">
                <h3 for="system.wealth" class="rollable" data-roll="(@wealth)d6cs>=3" data-score="{{system.wealth}}" data-label="Wealth">Wealth</h3>
                <div class="">
                  <h3><input class="hp-input" name="system.wealth" type="text" value="{{system.wealth}}" data-dtype="Number"/></h3>
                </div>
              </div>
              <div class="funds-container">
                <h3 for="system.funds" data-score="{{system.funds}}" data-label="Funds">Funds</h3>
                <div class="">
                  <h3><input class="hp-input" name="system.funds" type="text" value="{{system.funds}}" data-dtype="Number"/></h3>
                </div>
              </div>
              <div class="cash-container">
                <h3 for="system.cash" data-score="{{system.cash}}" data-label="Cash">Cash</h3>
                <div class="">
                  <h3><input class="hp-input" type="text" name="system.cash" value="{{system.cash}}" data-dtype="Number"/></h3>
                </div>
              </div>
            </div>
            <div class="character-notes">
              {{editor 
              enrichedcharacterNotes
              engine='prosemirror'
              target="system.notes.characterNotes" button=true owner=owner editable=editable
              }}
            </div>
            
        </div>
      </div>
    </div>

  

  {{!-- Sheet Body --}}

      {{!-- Skills Tab --}}
      <div class="biography" data-group="primary" data-tab="skills">
          <!-- {{editor 
              enrichedDescription
              engine='prosemirror'
              target="system.biography" button=true owner=owner editable=editable
              }}-->
        <div class="skill-container">
          <div class="skills">
            <div class="skill" data-skill="Action">
              <h4 for="system.action.score" class="skill-name rollable" data-roll="(@action.score)d6cs>=3" data-score="{{system.action.score}}" data-label="Action">Action</h4>
              <input class="skill-score" type="text" name="system.action.score" value="{{system.action.score}}" data-dtype="Number"/>
              <input class="skill-value" type="text" name="system.action.value" value="{{system.action.value}}" data-dtype="Number"/>
              <input class="skill-max" type="text" name="system.action.max" value="{{system.action.max}}" data-dtype="Number"/>
            </div>
                    <!-- <h2 style="text-align: center;">Skills</h2> -->
            {{#each system.attributes as |attribute key|}}
            {{#if attribute.corrected}}
                <div class="skill" data-skill="{{key}}">

                    <h4 for="system.attributes.{{key}}.score" class="skill-name rollable" data-roll="(@action.score)d6cs>=3" data-label="{{key}}">{{key}}</h4>
                    <input class="skill-score" type="text" name="system.attributes.{{key}}.score" value="{{attribute.score}}" data-dtype="Number"/>
                  
                    <!-- <input class="skill-edges" type="text" name="data.skills.{{key}}.edges.value" value="{{skill.edges.value}}" data-dtype="Number"/>
                  
                    <input class="skill-checkbox" name="data.skills.{{key}}.marked" type="checkbox" {{checked skill.marked}}>

                    <input class="skill-drawbacks" type="text" name="data.skills.{{key}}.drawbacks.value" value="{{skill.drawbacks.value}}" data-dtype="Number"/> -->
                </div>

                {{/if}}
            {{/each}}
          </div>
        </div>
          <!-- <div class="skills">
            <h2 style="text-align: center;">Subjects</h2>
            {{#each data.subjects as |subject key|}}
                <div class="skill" data-skill="{{key}}">

                    <input type="text" class="skill-name" name="data.subjects.{{key}}.name" data-label="{{key}}"/><h4 for="data.subjects.{{key}}.value" class="rollable" data-roll="(@subjects.{{key}}.value + @subjects.{{key}}.edges.value - @subjects.{{key}}.drawbacks.value)d6cs>=4" data-label="{{key}}">Roll</h4>
                    <input class="skill-input" type="text" name="data.subjects.{{key}}.value" value="{{subject.value}}" data-dtype="Number"/>
                  
                    <input class="skill-edges" type="text" name="data.subjects.{{key}}.edges.value" value="{{subject.edges.value}}" data-dtype="Number"/>
                  
                    <input class="skill-checkbox" name="data.subjects.{{key}}.marked" type="checkbox" {{checked skill.marked}}>

                    <input class="skill-drawbacks" type="text" name="data.subjects.{{key}}.drawbacks.value" value="{{skill.drawbacks.value}}" data-dtype="Number"/>
                </div>
            {{/each}}
          </div> -->
          <div class="rest-container">
            <h2>Rests</h2>
            <div class="rests">
              <input class="skill-checkbox" name="system.rests.minute.checked" type="checkbox" {{checked system.rests.minute.checked}}>
            </div>
            <div class="rests">
              <input class="skill-checkbox" name="system.rests.hour.checked" type="checkbox" {{checked system.rests.hour.checked}}>
            </div>
            <div class="rests">
              <input class="skill-checkbox" name="system.rests.day.checked" type="checkbox" {{checked system.rests.day.checked}}>
            </div>
            <div class="rests">
              <input class="skill-checkbox" name="system.rests.week.checked" type="checkbox" {{checked system.rests.week.checked}}>
            </div>
            <div class="rests">
              <input class="skill-checkbox" name="system.rests.season.checked" type="checkbox" {{checked system.rests.season.checked}}>
            </div>
          </div>

          <div class="rskill-container">
            <h3>Traits</h3>
            <div class="rskill-notes">
              {{editor 
              enrichedskillNotes
              engine='prosemirror'
              target="system.notes.skillNotes" button=true owner=owner editable=editable
              }}
            </div>
          </div>

          <div class="merits-container">
            <h3>Wounds</h3>

            <div class="rskill-notes">
              {{editor 
              enrichedwoundNotes
              engine='prosemirror'
              target="system.notes.woundNotes" button=true owner=owner editable=editable
              }}
            </div>
          </div>

          

          <div class="equipment">
            <div class="inventory-header">
              <h2 class="inventory-name">Inventory</h2>
              <input class="inventory-current" type="text" name="system.carryCap.current" value="{{system.carryCap.current}}" data-dtype="Number"/>
                <input class="inventory-max" type="text" name="system.carryCap.maximum" value="{{system.carryCap.maximum}}" data-dtype="Number"/>
            </div>
            <ol class="items-list">
              <li class="item flexrow item-header">
                <div class="item-name">Name</div>
                <div class="item-quantity">Drain</div>
                <div class="item-quantity">Slots</div>
                <div class="item-controls">
                  <a class="item-control item-create" title="{{localize "DOCUMENT.Create" type='Item'}}" data-type="item"><i class="fas fa-plus"></i>{{localize "DOCUMENT.New" type='Item'}}</a>
                </div>
              </li>
            {{#each gear as |item id|}}
              <li class="item flexrow items-list-item" data-item-id="{{item._id}}">
                  <h4 class="item-name collapsible"><a class="item-name">{{item.name}}</a></h4>
                  <h4 class="item-quantity">{{system.quality}}</h4>
                  <h4 class="item-slots">{{system.slots}}</h4>
                  <div class="item-controls">
                      <a class="item-control item-edit" title="{{localize "DOCUMENT.Update" type='Item'}}"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="{{localize "DOCUMENT.Delete" type='Item'}}"><i class="fas fa-trash"></i></a>
                  </div>
                  
              </li>
              <div class="item-description">
                {{{system.description}}}
              </div>
            {{/each}}
          </ol>
          </div>

          
          <!-- <div class="weapons">

          </div> -->
            <div class="extra-notes-container">
              <h3>Notes</h3>
              <div class="extra-notes">
              {{editor 
              enrichedextraNotes
              engine='prosemirror'
              target="system.notes.extraNotes" button=true owner=owner editable=editable
              }}
            </div>
          </div>
          <!-- <div class="talents">
            <div class="features" data-group="primary" data-tab="features">
              <h2>Talents</h2>
              <ol class="items-list">
                  <li class="item flexrow item-header">
                    <div class="item-name">Name</div>
                    <div class="item-controls">
                      <a class="item-control item-create" title="Create item" data-type="feature"><i class="fas fa-plus"></i></a>
                    </div>
                  </li>
              {{#each features as |feature id|}}
                  <li class="item flexrow" data-item-id="{{feature._id}}">
                      <h4><a class="item-name collapsible">{{feature.name}}</a></h4>
                      <div class="item-controls">
                          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                      </div>
                  </li>
                  <div class="item-description">
                    {{{data.description}}}
                  </div>
              {{/each}}
              </ol>
          </div>
          </div>
      </div>

      <div class="tab weapons" data-group="primary" data-tab="weapons">
         -->
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      <div class="resource flex-group-center">
        <label for="system.carryingCapacity.current" class="resource-label">Carrying Capacity</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.carryingCapacity.current" value="{{system.carryingCapacity.current}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="system.carryingCapacity.maximum" value="{{system.carryingCapacity.maximum}}" data-dtype="Number"/>
        </div>
      </div>
      <h2>Attacks</h2>
      <ol class="items-list">
        <li class="item flexrow item-header">
          <div class="item-image"></div>
          <div class="item-name">Name</div>
          <div class="item-damage">Damage</div>
          <div class="item-slots">Slots</div>
          <div class="item-range">Range</div>
          <div class="item-ammo">Ammo</div>
          <a class="item-control item-create" title="Create item" data-type="weapon"><i class="fas fa-plus"></i> Add Weapon</a>
        </li>
      {{#each weapons as |weapon id|}}
        <li class="item flexrow items-list-item" data-item-id="{{weapon._id}}">
            <div class="item-image" ><img src="{{weapon.img}}" title="{{weapon.name}}" width="24" height="24"/></div>
            <h4 class="item-name collapsible"><a class="item-name">{{weapon.name}}</a></h4>
            <h4 class="item-damage rollable" data-roll="{{system.damage}}" data-label="{{damage}}"><a class="item-damage">{{data.damage}}</a></h4>
            <h4 class="item-slots">{{system.slots}}</h4>
            <h4 class="item-range">{{system.range}}</h4>
            <h4 class="item-ammo">{{system.ammoCurrent}}/{{system.ammoMax}}</h4>
            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        <div class="item-description">
          {{{system.description}}}
        </div>
      {{/each}}
      </ol>

          <h2>Equipment</h2>
          <ol class="items-list">
              <li class="item flexrow item-header">
                <div class="item-image"></div>
                <div class="item-name">Name</div>
                <div class="item-quantity">Quantity</div>
                <div class="item-quantity">Slots</div>
                <div></div>
                <div></div>
                <div class="item-controls">
                  <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add item</a>
                </div>
              </li>
          {{#each gear as |item id|}}
              <li class="item flexrow items-list-item" data-item-id="{{item._id}}">
                  <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                  <h4 class="item-name collapsible"><a class="item-name">{{item.name}}</a></h4>
                  <h4 class="item-quantity">{{system.quantity}}</h4>
                  <h4 class="item-slots">{{system.slots}}</h4>
                  <h4></h4>
                  <h4></h4>
                  <div class="item-controls">
                      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                  </div>
                  
              </li>
              <div class="item-description">
                {{{system.description}}}
              </div>
          {{/each}}
          </ol>
      </div>

      {{!-- Assets Tab --}}
    
    <div class="tab assets" data-group="primary" data-tab="assets">
        <h2>Assets</h2>
        <div class="augments-body">
        <div>
            <ol class="items-list">
              <li class="item flexrow item-header">
                <div class="item-image"></div>
                <div class="item-name">Name</div>
                <a class="item-control item-create" title="Create Asset" data-type="asset"><i class="fas fa-plus"></i>Add Asset</a>
              </li>
          {{#each assets as |asset id|}}
          <ol class="items-list"></ol>
            <li class="item flexrow items-list-item" data-item-id="{{asset._id}}">
                <div class="item-image" ><img src="{{asset.img}}" title="{{asset.name}}" width="24" height="24"/></div>
                <h4 class="item-name collapsible"><a class="item-name">{{asset.name}}</a> [{{system.rating}}]</h4>
                <div class="item-controls">
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            <div class="item-description">
              {{{system.description}}}
            </div>
          {{/each}}
          </ol>
        </div>
        </div>
    </div>
      {{!-- Owned Features Tab --}}
      <div class="tab features" data-group="primary" data-tab="features">
          <ol class="items-list">
              <li class="item flexrow item-header">
                <div class="item-image"></div>
                <div class="item-name">Name</div>
                <div class="item-controls">
                  <a class="item-control item-create" title="Create item" data-type="feature"><i class="fas fa-plus"></i> Add item</a>
                </div>
              </li>
          {{#each features as |feature id|}}
              <li class="item flexrow" data-item-id="{{feature._id}}">
                  <div class="item-image"><img src="{{feature.img}}" title="{{feature.name}}" width="24" height="24"/></div>
                  <h4><a class="item-name collapsible">{{feature.name}}</a></h4>
                  <div class="item-controls">
                      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                  </div>
              </li>
              <div class="item-description">
                {{{system.description}}}
              </div>
          {{/each}}
          </ol>
      </div>

      <script>
        var coll = Array.from(document.getElementsByClassName("collapsible"));
        var content = Array.from(document.getElementsByClassName("item-description"));
        var i;

        

        for (let i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            if (content[i].style.maxHeight){
              content[i].style.maxHeight = null;
            } else {
              content[i].style.maxHeight = content[i].scrollHeight + "px";
            }
        });
      }

        
        
      </script>

  </section>
</form>

